
1. What are the column names in the Iris dataset?
2. How many rows and columns are there in the dataset?
3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?
4. What is the average sepal length?
5. what is the largest petal length, and what is its value? 
6. What is the mean and standard deviation of petal width for the Setosa species?
7. Check for missing values in the dataset 
8. Extract the `Species` column using loc and iloc method
9. Drop `sepal Width` column
10. Get `petalwidth` 10th value using at and iat

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\madas\Downloads\Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

1. What are the column names in the Iris dataset?

In [3]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

2. How many rows and columns are there in the dataset?

In [4]:
df.shape

(165, 6)

3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?

In [9]:
df.describe(include = 'all')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,165.000000,161.000000,159.000000,159.000000,165.000000,160
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-virginica
freq,NaN,NaN,NaN,NaN,NaN,63
mean,83.000000,7.510559,4.713208,4.022642,2.810909,NaN
std,47.775517,11.162995,13.468999,2.052505,12.097722,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,42.000000,5.100000,2.800000,1.600000,0.400000,NaN
50%,83.000000,5.800000,3.000000,4.500000,1.500000,NaN
75%,124.000000,6.500000,3.300000,5.150000,1.900000,NaN
max,165.000000,116.300000,130.000000,13.800000,111.100000,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             165 non-null    int64
 1   SepalLengthCm  161 non-null    float64
 2   SepalWidthCm   159 non-null    float64
 3   PetalLengthCm  159 non-null    float64
 4   PetalWidthCm   165 non-null    float64
 5   Species        160 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.9+ KB

4. What is the average sepal length?

In [7]:
df['SepalLengthCm'].mean()

7.510559006211181

5. what is the largest petal length, and what is its value?

In [8]:
df['PetalLengthCm'].max()

13.8

In [13]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5          10.2  Iris-setosa
4   5           50.0           3.6            1.4           0.2  Iris-setosa

6. What is the mean and standard deviation of petal width for the Setosa species?

In [37]:
#What is the mean and standard deviation of petal width for the Setosa species?
df.groupby(by=df["Species"]=="Iris-setosa")["PetalWidthCm"].agg(["mean","std"])

             mean        std
Species
False    2.757265  10.197780
True     2.941667  15.937148

7. Check for missing values in the dataset

In [25]:
df.isna().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     6
PetalLengthCm    6
PetalWidthCm     0
Species          5
dtype: int64

8. Extract the `Species` column using loc and iloc method

In [20]:
df.loc[:,"Species"]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

In [5]:
df.iloc[:,-1]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

9. Drop `sepal Width` column

In [29]:
df.drop('SepalWidthCm',axis=1,inplace=True)

In [31]:
df

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

10. Get `petalwidth` 10th value using at and iat

In [22]:
df.at[10,'PetalWidthCm']

0.2

In [9]:
df.iat[10,4]

0.2