1. Find all the attributes and Statistical  Measures  for each column in iris dataset

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\madas\Downloads\Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [8]:
#attributes
df['SepalLengthCm'].dtype

dtype('float64')

In [9]:
df['SepalLengthCm'].shape

(165,)

In [10]:
df['SepalLengthCm'].head()

0     5.1
1     4.9
2     4.7
3     4.6
4    50.0
Name: SepalLengthCm, dtype: float64

In [11]:
df['SepalLengthCm'].tail()

160    7.7
161    6.3
162    7.2
163    6.5
164    6.4
Name: SepalLengthCm, dtype: float64

In [12]:
df['SepalLengthCm'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: SepalLengthCm
Non-Null Count  Dtype
--------------  -----
161 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [13]:
df['SepalLengthCm'].describe()

count    161.000000
mean       7.510559
std       11.162995
min        4.300000
25%        5.100000
50%        5.800000
75%        6.500000
max      116.300000
Name: SepalLengthCm, dtype: float64

In [14]:
df['SepalWidthCm'].dtype

dtype('float64')

In [15]:
df['SepalWidthCm'].shape

(165,)

In [16]:
df['SepalWidthCm'].head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: SepalWidthCm, dtype: float64

In [17]:
df['SepalWidthCm'].tail()

160    2.8
161    2.7
162    3.6
163    3.2
164    2.7
Name: SepalWidthCm, dtype: float64

In [18]:
df['SepalWidthCm'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: SepalWidthCm
Non-Null Count  Dtype
--------------  -----
159 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [19]:
df['SepalWidthCm'].describe()

count    159.000000
mean       4.713208
std       13.468999
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max      130.000000
Name: SepalWidthCm, dtype: float64

In [20]:
df['PetalLengthCm'].describe()

count    159.000000
mean       4.022642
std        2.052505
min        1.000000
25%        1.600000
50%        4.500000
75%        5.150000
max       13.800000
Name: PetalLengthCm, dtype: float64

In [21]:
df['PetalLengthCm'].shape

(165,)

In [22]:
df['PetalLengthCm'].head()

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: PetalLengthCm, dtype: float64

In [23]:
df['PetalLengthCm'].tail()

160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, dtype: float64

In [30]:
df['PetalLengthCm'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: PetalLengthCm
Non-Null Count  Dtype
--------------  -----
159 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [24]:
df['PetalWidthCm'].describe()

count    165.000000
mean       2.810909
std       12.097722
min        0.100000
25%        0.400000
50%        1.500000
75%        1.900000
max      111.100000
Name: PetalWidthCm, dtype: float64

In [26]:
df['PetalWidthCm'].shape

(165,)

In [27]:
df['PetalWidthCm'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: PetalWidthCm
Non-Null Count  Dtype
--------------  -----
165 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [28]:
df['PetalWidthCm'].head()

0     0.2
1     0.2
2     0.2
3    10.2
4     0.2
Name: PetalWidthCm, dtype: float64

In [29]:
df['PetalWidthCm'].tail()

160    2.0
161    1.8
162    2.5
163    2.0
164    1.9
Name: PetalWidthCm, dtype: float64

In [31]:
df['Species'].describe()

count                160
unique                 3
top       Iris-virginica
freq                  63
Name: Species, dtype: object

In [32]:
df['Species'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: Species
Non-Null Count  Dtype
--------------  -----
160 non-null    object
dtypes: object(1)
memory usage: 1.4+ KB

In [33]:
df['Species'].shape

(165,)

In [34]:
df['Species'].head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [35]:
df['Species'].tail()

160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, dtype: object

### Statistical Measures

In [36]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [38]:
df.describe(include = 'all')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,165.000000,161.000000,159.000000,159.000000,165.000000,160
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-virginica
freq,NaN,NaN,NaN,NaN,NaN,63
mean,83.000000,7.510559,4.713208,4.022642,2.810909,NaN
std,47.775517,11.162995,13.468999,2.052505,12.097722,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,42.000000,5.100000,2.800000,1.600000,0.400000,NaN
50%,83.000000,5.800000,3.000000,4.500000,1.500000,NaN
75%,124.000000,6.500000,3.300000,5.150000,1.900000,NaN
max,165.000000,116.300000,130.000000,13.800000,111.100000,NaN

### Measure of central Tendancy

In [40]:
#for SepalLengthCm
df['SepalLengthCm'].mean()

7.510559006211181

In [42]:
df['SepalLengthCm'].median()

5.8

In [43]:
df['SepalLengthCm'].mode()

0    5.0
1    5.1
2    6.3
3    6.7
Name: SepalLengthCm, dtype: float64

In [44]:
#for SepalWidthCm
df['SepalWidthCm'].mean()

4.713207547169812

In [45]:
df['SepalWidthCm'].median()

3.0

In [46]:
df['SepalWidthCm'].mode()

0    3.0
Name: SepalWidthCm, dtype: float64

In [47]:
#for PetalLengthCm
df['PetalLengthCm'].mean()

4.022641509433963

In [48]:
df['PetalLengthCm'].median()

4.5

In [49]:
df['PetalLengthCm'].mode()

0    1.5
Name: PetalLengthCm, dtype: float64

In [50]:
#for PetalWidthCm
df['PetalWidthCm'].mean()

2.810909090909091

In [51]:
df['PetalWidthCm'].median()

1.5

In [52]:
df['PetalWidthCm'].mode()

0    0.2
Name: PetalWidthCm, dtype: float64

In [55]:
#for Species
df['Species'].mode()

0    Iris-virginica
Name: Species, dtype: object

### Measure of Dispersion

In [56]:
#for SepalLengthCm
df['SepalLengthCm'].min()

4.3

In [57]:
df['SepalLengthCm'].max()

116.3

In [58]:
rang = df['SepalLengthCm'].max() - df['SepalLengthCm'].min()
rang

112.0

In [63]:
df['SepalLengthCm'].var()

124.61245031055901

In [65]:
df['SepalLengthCm'].std()

11.162994683800536

In [107]:
Q = df['SepalLengthCm']
Q

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [108]:
Q1 = df['SepalLengthCm'].quantile(0.25)
Q1

5.1

In [109]:
Q3 = df['SepalLengthCm'].quantile(0.75)
Q3

6.5

In [110]:
IQR = Q3 - Q1
IQR

1.4000000000000004

In [111]:
lower = Q1 - 1.5*IQR
lower

2.999999999999999

In [112]:
upper = Q3 + 1.5*IQR
upper

8.600000000000001

In [114]:
#outliers
Q[(Q<lower)|(Q>upper)]

4       50.0
16      50.4
56     116.3
129     70.2
Name: SepalLengthCm, dtype: float64

In [59]:
#for SepalWidthCm
df['SepalWidthCm'].min()

2.0

In [60]:
df['SepalWidthCm'].max()

130.0

In [61]:
rang = df['SepalWidthCm'].max() - df['SepalWidthCm'].min()
rang

128.0

In [82]:
df['SepalWidthCm'].var()

181.41393838070218

In [83]:
df['SepalWidthCm'].std()

13.468999160320049

In [115]:
Q = df['SepalWidthCm']
Q

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
160    2.8
161    2.7
162    3.6
163    3.2
164    2.7
Name: SepalWidthCm, Length: 165, dtype: float64

In [116]:
Q1 = df['SepalWidthCm'].quantile(0.25)
Q1

2.8

In [117]:
Q3 = df['SepalWidthCm'].quantile(0.75)
Q3

3.3

In [118]:
IQR = Q3-Q1
IQR

0.5

In [119]:
lower = Q1 - 1.5*IQR
lower

2.05

In [120]:
upper = Q3 + 1.5*IQR
upper

4.05

In [122]:
#outliers
Q[(Q<lower)|(Q>upper)]

12    130.0
15      4.4
26     34.0
32      4.1
33      4.2
60      2.0
92    112.6
Name: SepalWidthCm, dtype: float64

In [92]:
#for PetalLengthCm
df['PetalLengthCm'].min()

1.0

In [93]:
df['PetalLengthCm'].max()

13.8

In [94]:
rang = df['PetalLengthCm'].max() - df['PetalLengthCm'].min()
rang

12.8

In [138]:
Q = df['PetalLengthCm']
Q

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, Length: 165, dtype: float64

In [139]:
Q1 = df['PetalLengthCm'].quantile(0.25)
Q1

1.6

In [140]:
Q3 = df['PetalLengthCm'].quantile(0.75)
Q3

5.15

In [141]:
IQR = Q3 -Q1
IQR

3.5500000000000003

In [142]:
lower = Q1 - 1.5*IQR
lower

-3.725

In [143]:
upper = Q3 + 1.5*IQR
upper

10.475000000000001

In [144]:
#outliers
Q[(Q<lower)|(Q>upper)]

41    13.0
80    13.8
Name: PetalLengthCm, dtype: float64

In [123]:
#for PetalWidthCm
df['PetalWidthCm'].min()

0.1

In [124]:
df['PetalWidthCm'].max()

111.1

In [125]:
rang = df['PetalWidthCm'].max() - df['PetalWidthCm'].min()
rang

111.0

In [126]:
df['PetalWidthCm'].var()

146.35488026607536

In [127]:
df['PetalWidthCm'].std()

12.097722110632041

In [130]:
Q = df['PetalWidthCm']
Q

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
       ...
160     2.0
161     1.8
162     2.5
163     2.0
164     1.9
Name: PetalWidthCm, Length: 165, dtype: float64

In [137]:
df['PetalWidthCm'].describe()

count    165.000000
mean       2.810909
std       12.097722
min        0.100000
25%        0.400000
50%        1.500000
75%        1.900000
max      111.100000
Name: PetalWidthCm, dtype: float64

In [131]:
Q1 = df['PetalWidthCm'].quantile(0.25)
Q1

0.4

In [132]:
Q3 = df['PetalWidthCm'].quantile(0.75)
Q3

1.9

In [133]:
IQR = Q3-Q1
IQR

1.5

In [134]:
lower = Q1 - 1.5*IQR
lower

-1.85

In [135]:
upper = Q3+1.5*IQR
upper

4.15

In [136]:
Q[(Q<lower)|(Q>upper)]

3      10.2
12     10.1
28    110.2
57     16.0
98    111.1
Name: PetalWidthCm, dtype: float64

In [146]:
#for Species
df['Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

In [147]:
df['Species'].describe()

count                160
unique                 3
top       Iris-virginica
freq                  63
Name: Species, dtype: object

### Measure of Relationship

In [157]:
#for SepalLengthCm
df.corr(numeric_only = True)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,-0.019255,-0.106661,0.715896,-0.008131
SepalLengthCm,-0.019255,1.000000,-0.021878,0.036284,-0.025505
SepalWidthCm,-0.106661,-0.021878,1.000000,-0.110401,0.023471
PetalLengthCm,0.715896,0.036284,-0.110401,1.000000,-0.068489
PetalWidthCm,-0.008131,-0.025505,0.023471,-0.068489,1.000000