### Clean the data.i.e missing values with all possible filling methods, Duplicates and Outliers.

In [1]:
import pandas as pd

In [52]:
df = pd.read_csv(r"C:\Users\madas\Downloads\Iris_clean_-_Copy.csv")
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5          10.2
4             50.0           3.6            1.4           0.2
..             ...           ...            ...           ...
162            7.2           3.6            6.1           2.5
163            6.5           3.2            5.1           2.0
164            6.4           2.7            5.3           1.9
165            7.3           2.9            6.3           1.8
166            6.7           2.5            5.8           1.8

[167 rows x 4 columns]

In [11]:
df.isna().sum()

SepalLengthCm     5
SepalWidthCm      6
PetalLengthCm    12
PetalWidthCm      2
dtype: int64

## Dropping Missing values

In [14]:
df.dropna(inplace = True)

In [15]:
df.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

In [16]:
df.shape

(144, 4)

## Filling the Missing values

### statistical Measure

In [18]:
df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean(),inplace = True)

In [25]:
df['SepalLengthCm']

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
162     7.2
163     6.5
164     6.4
165     7.3
166     6.7
Name: SepalLengthCm, Length: 167, dtype: float64

In [26]:
df['SepalWidthCm'].fillna(df['SepalWidthCm'].median(),inplace = True)

In [27]:
df['PetalLengthCm'].fillna(df['PetalLengthCm'].median(),inplace = True)

In [28]:
df['PetalWidthCm'].fillna(df['PetalWidthCm'].median(),inplace = True)

In [29]:
df.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

## Single Values

In [53]:
df.isna().sum()

SepalLengthCm     5
SepalWidthCm      6
PetalLengthCm    12
PetalWidthCm      2
dtype: int64

In [54]:
df['SepalLengthCm'].fillna(3,inplace = True)

In [55]:
df['SepalWidthCm'].fillna(21,inplace = True)

In [56]:
df['PetalLengthCm'].fillna(12, inplace = True)

In [57]:
df['PetalWidthCm'].fillna(15,inplace = True)

In [58]:
df.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

### filling methods

In [33]:
df.isna().sum()

SepalLengthCm     5
SepalWidthCm      6
PetalLengthCm    12
PetalWidthCm      2
dtype: int64

In [43]:
import warnings
warnings.filterwarnings("ignore")

In [44]:
df['SepalLengthCm'].fillna(method = 'ffill',inplace = True)

In [45]:
df['SepalWidthCm'].fillna(method = 'ffill',inplace = True)

In [46]:
df['PetalLengthCm'].fillna(method = 'bfill',inplace = True)

In [47]:
df['PetalWidthCm'].fillna(method = 'bfill',inplace = True)

In [48]:
df.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

## Duplicate values

In [49]:
df.duplicated().sum()

17

In [50]:
df.drop_duplicates(keep = 'first',inplace = True)

In [51]:
df.shape

(150, 4)

## Outliers

In [60]:
import numpy as np

In [61]:
Q1 = np.percentile(df,25)
Q3 = np.percentile(df,75) 
IQR = Q3-Q1
low = Q1 - (1.5*IQR)
upp = Q3 + (1.5*IQR)

In [86]:
Q1

1.9

In [62]:
IQR

3.6

In [63]:
low

-3.5000000000000004

In [64]:
upp

10.9

In [106]:
df[(df < low)|(df > upp)]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              NaN           NaN            NaN           NaN
1              NaN           NaN            NaN           NaN
2              NaN           NaN            NaN           NaN
3              NaN           NaN            NaN           NaN
4             50.0           NaN            NaN           NaN
..             ...           ...            ...           ...
162            NaN           NaN            NaN           NaN
163            NaN           NaN            NaN           NaN
164            NaN           NaN            NaN           NaN
165            NaN           NaN            NaN           NaN
166            NaN           NaN            NaN           NaN

[167 rows x 4 columns]

In [122]:
df[(df < low)|(df > upp)].head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            NaN           NaN            NaN           NaN
1            NaN           NaN            NaN           NaN
2            NaN           NaN            NaN           NaN
3            NaN           NaN            NaN           NaN
4           50.0           NaN            NaN           NaN

In [82]:
sum(df['SepalLengthCm']> 10)

4

In [83]:
sum(df['SepalWidthCm']>10)

9

In [84]:
sum(df['PetalLengthCm']>10)

14

In [85]:
sum(df['PetalWidthCm']>10)

7

In [90]:
Q = df['SepalLengthCm']

In [91]:
Q1 = np.percentile(Q,25)
Q3 = np.percentile(Q,75) 
IQR = Q3-Q1
low = Q1 - (1.5*IQR)
upp = Q3 + (1.5*IQR)

In [92]:
Q[(Q < low)|(Q > upp)]

4       50.0
16      50.4
56     116.3
129     70.2
Name: SepalLengthCm, dtype: float64

In [93]:
Q = df['SepalWidthCm']

In [94]:
Q1 = np.percentile(Q,25)
Q3 = np.percentile(Q,75) 
IQR = Q3-Q1
low = Q1 - (1.5*IQR)
upp = Q3 + (1.5*IQR)

In [95]:
Q[(Q < low)|(Q > upp)]

5       21.0
12     130.0
15       4.4
16      21.0
26      34.0
52      21.0
73      21.0
92     112.6
137     21.0
145     21.0
Name: SepalWidthCm, dtype: float64

In [102]:
Q = df['PetalLengthCm']

In [103]:
Q1 = np.percentile(Q,25)
Q3 = np.percentile(Q,75) 
IQR = Q3-Q1
low = Q1 - (1.5*IQR)
upp = Q3 + (1.5*IQR)

In [105]:
Q[(Q < low)|(Q > upp)]

9      12.0
37     12.0
41     13.0
56     12.0
63     12.0
74     12.0
80     13.8
86     12.0
91     12.0
97     12.0
112    12.0
131    12.0
140    12.0
145    12.0
Name: PetalLengthCm, dtype: float64

In [99]:
Q = df['PetalWidthCm']

In [100]:
Q1 = np.percentile(Q,25)
Q3 = np.percentile(Q,75) 
IQR = Q3-Q1
low = Q1 - (1.5*IQR)
upp = Q3 + (1.5*IQR)

In [101]:
Q[(Q < low)|(Q > upp)]

3      10.2
12     10.1
18     15.0
28    110.2
42     15.0
57     16.0
98    111.1
Name: PetalWidthCm, dtype: float64

In [121]:
#z-core

In [110]:
df['PetalWidthCm'].std()

12.094943019065527

In [115]:
 0.2 -2.9754491017964075

-2.7754491017964074

In [116]:
-2.7754491017964074/12.094943019065527

-0.2294718625314237

In [114]:
df['PetalWidthCm']

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
       ...
162     2.5
163     2.0
164     1.9
165     1.8
166     1.8
Name: PetalWidthCm, Length: 167, dtype: float64