**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

In [4]:
fruits = ("apple","banana","orange","mango","pineapple","papaya")

In [6]:
type(fruits)

tuple

In [7]:
print(fruits)

('apple', 'banana', 'orange', 'mango', 'pineapple', 'papaya')

In [76]:
fruits[0]

'apple'

In [77]:
fruits[1]

'banana'

In [78]:
fruits[2]

'orange'

In [79]:
fruits[3]

'mango'

In [80]:
fruits[4]

'pineapple'

In [83]:
fruits[5]

'papaya'

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

In [9]:
tuple1 = (1,2,3,4,5,6,7)
tuple2 = (10,20,30,40,50)
tuple3 = tuple1+tuple2

In [10]:
tuple3

(1, 2, 3, 4, 5, 6, 7, 10, 20, 30, 40, 50)

In [11]:
len(tuple3)

12

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

In [14]:
set1 = {2,4,6,8,10,12,14,16,17,18}

In [15]:
len(set1)

10

In [16]:
print(set1)

{2, 4, 6, 8, 10, 12, 14, 16, 17, 18}

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

In [17]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [19]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
set1.intersection(set2)

{4, 5}

In [21]:
set1.difference(set2)

{1, 2, 3}


**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

In [69]:
tuple1 = (1,2,3,4,5,6,7,8,9)

In [70]:
set(tuple1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [71]:
len(set(tuple1))

9

In [72]:
min(set(tuple1))

1

In [73]:
max(set(tuple1))

9

**Assignment Task 6:** Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

The tuple is an immutable collection of elements. we can perform operations on tuple but we cannot remove or append elements in the tuple. We can't change the elements of a tuple, but we can execute a variety of actions on them such as count, index, type, etc.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

In [62]:
set1 = {1,2,3,4,5,6,7,8}

In [35]:
set1.add(10)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [36]:
set1.remove(1)
set1

{2, 3, 4, 5, 6, 7, 8, 10}

In [63]:
10 in set1

False

In [64]:
1 in set1

True

In [39]:
len(set1)

8

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

In [40]:
tup1 = (0,1,2,3,4,5,6,7,8,9)

In [41]:
tup1[3:8]

(3, 4, 5, 6, 7)

In [42]:
len(tup1)

10

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [55]:
list1 = [1,2,3,4,5,1,1,2,3,3,4]

In [56]:
len(list1)

11

In [57]:
set(list1)

{1, 2, 3, 4, 5}

In [58]:
len(set(list1)) #removed 6 duplicates

5












**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [51]:
tupl1 = ("legend","bunny","djtillu","liger","pokiri","dasara")
set1 = {"legend","djtillu","pokiri","dasara","kushi","red","ismart"}

In [52]:
set1.intersection(tupl1)

{'dasara', 'djtillu', 'legend', 'pokiri'}