Task 1: `Counting Numbers`
    
    write a program that prints the numbers from 1 to 10, each on a new line.

In [29]:
for i in range(1,11): 
     print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
len(numbers)

10

Task 2: `Even Numbers`

    write a program that prints the even numbers from 1 to 20, each on a new line.

In [41]:
for number in range(1, 21):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20

In [42]:
for i in range(2,21,2): 
     print(i)

2
4
6
8
10
12
14
16
18
20

Task 3: `Square Numbers`

    Write a program that calculates and prints the square of each number from 1 to 5.

In [44]:
for number in range(1, 6):
    square = number ** 2
    print(square)

1
4
9
16
25

In [17]:
numbers = [1,2,3,4,5,6,7,8,9,10]
square = []
for i in range(1,6):
    square.append(i * i)
print(square)

[1, 4, 9, 16, 25]

Task 4: `Multiples of Three`

    write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [45]:
for number in range(3, 31):
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18
21
24
27
30

In [23]:
for i in range(3,31,3): 
    print(i)

3
6
9
12
15
18
21
24
27
30





Task 5: `Reverse Counting`

    Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [40]:
for i in range(10,0,-1): 
    print(i)

10
9
8
7
6
5
4
3
2
1