**Assignment Tasks on String Methods, String Escape Characters:**

**String Methods**

1. Ask user to  enter a  website name and check whether it is valid or not(True/False)

In [45]:
web = input("Enter your favourite website::")
web.startswith(("www.","http://"))
web.endswith(".com")

Enter your favourite website::www.Innomatics online.com

True

2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`

In [84]:
institute = input("Enter your institute name::")
course = input("Enter your course name::")

Enter your institute name::Innomatics
Enter your course name::Data science

In [85]:
print("Hello World I am learning Data Science in Innomatics" )

Hello World I am learning Data Science in Innomatics

In [86]:
print("Hello World I am learning {} in {}".format(course, institute))

Hello World I am learning Data science in Innomatics

In [87]:
print("Hello World I am learning {1} in {0}".format(institute,course) )

Hello World I am learning Data science in Innomatics

In [88]:
print("Hello World I am learning {0} in {1}".format(course,institute) )

Hello World I am learning Data science in Innomatics

In [136]:
print(f"Hello World I am learning{course} in{institute}")

Hello World I am learningData science inInnomatics

In [135]:
print("Hello World I am learning" ,course, "in" ,institute)

Hello World I am learning Data science in Innomatics

In [133]:
print("Hello World I am learning " +course+ " in " +institute)

Hello World I am learning Data science in Innomatics

3. Replace `Science` with `Analysis` in the above output.

In [149]:
institute = "Innomatics"
course = "Data science"
R = (f"Hello World I am learning {course} in {institute}")

In [150]:
R.replace("science","Analysis")

'Hello World I am learning Data Analysis in Innomatics'

4. `string = '     Hello World I am learning Python in Innomatics   '`

    a. How many characters are there in the string.
    
    b. Slice only 'Python' from above string
    
    c. Remove white spaces on both sides then find no.of characters in the string.
    
    d. Convert the string in Upper case

In [98]:
string = '     Hello World I am learning Python in Innomatics   '
len(string)

54

In [154]:
string[31:37:1]

'Python'

In [109]:
string = '     Hello World I am learning Python in Innomatics   '
string.strip()

'Hello World I am learning Python in Innomatics'

In [111]:
str = "Hello World I am learning Python in Innomatics"
len(str)

46

In [112]:
str.upper()

'HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS'

5. What is the index number of 'World' in above string.

In [120]:
str.index("World")

6

6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.

In [125]:
string = '     Hello World I am learning Python in Innomatics   '
type(string)

str

7. How many times 'a' is `repeated` in above string.

In [127]:
string.count("a")

3

**String Escape Characters:**

**Task 1:**

1. Create a string containing a sentence that includes both single and double quotes.
2. Use escape characters to include quotes within the string.
3. Print the modified string.

In [10]:
name = "Hello World I am learning \"Data Science\" in Innomatics"

In [11]:
print(name)

Hello World I am learning "Data Science" in Innomatics

**Task 2:**

1. Declare a string with a backslash \ character in it.
2. Demonstrate the use of the escape character to print the backslash itself.
3. Print the resulting string

In [162]:
n = "Hello World I am learning \\ Data Science in Innomatics"
print(n)

Hello World I am learning \ Data Science in Innomatics

In [163]:
n = r"Hello World I am learning a\ Data Science in Innomatics"
print(n)

Hello World I am learning a\ Data Science in Innomatics

**Task 3:**

1. Construct a string containing newline and tab escape sequences.
2. Print the string to display the formatted output.

In [164]:
name = "My name is laxman madasu \n Iam \tfrom Jagtial \t."

In [165]:
print(name)

My name is laxman madasu
 Iam 	from Jagtial 	.